/* .about-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  height: 100vh;
  margin: 0;
} */

/* .mainAbout h6 {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin-top: 0;
} */

.container {
  /* display: flex; Makes the container a flex container */
  /* overflow-x: auto; Enables horizontal scrolling */
  /* white-space: nowrap; Keeps items in a single line */
}

.container::-webkit-scrollbar {
  /* display: none; for Chrome, Safari, and Opera */
}

.section {
  /* flex: 0 0 auto; Allows sections to maintain their width */
  /* width: 100vw; Sets the width of each section to 100% of the viewport width */
  /* height: 80vh; Sets the height of each section */
  /* vertical-align: top; Aligns sections to the top */
  /* Optional: Add some margin between sections */
  /* margin-right: 20px; */
}
